@import url('https://fonts.googleapis.com/css?family=Domine:400,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$brand-color: #C62641;
$black: #444;
$white: rgb(255, 255, 255);
$lightgrey: rgb(235, 235, 235);
$space: 1rem;


body{
    font-family: 'Domine', serif;
    background-color: $lightgrey;
}

/* Header */



/* Main */



/* Footer & Mobile */
footer {
    margin-top: 4rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
    position: relative;
    color: #B7B7B7;
    text-align: center;
}

@media screen and (max-width: 600px){
    section.main{
        .container{
            display: block;
            min-height: auto;
        }
    }
}