@import url('https://fonts.googleapis.com/css?family=Domine:400,700&display=swap');

@mixin background($image) {
    background-image: url($image);
    background-size: cover;
    background-position: center;
}

@mixin container($width) {
    width: $width;
    margin: 0 auto;
    border: 1px solid red;
}

// Example Grid-columns: 
@mixin grid($columns) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
}

// Example Flex-columns: 
@mixin flex-grid($columns) {
    display: flex;
    & > *{flex: 1 1 (1 / $columns * 100% );}
}

@mixin shadow{
    box-shadow: 0 30px 50px rgba(1,1,1,0.15);
}