/*!
Theme Name: mytheme
Theme URI: http://underscores.me/
Author: John Doe
Author URI: http://yoursite.be/
Description: Description
Version: 1.0
*/
@import url("https://fonts.googleapis.com/css?family=Domine:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Domine', serif;
  background-color: #ebebeb;
}

header.site-header {
  background-color: #C62641;
  padding-top: 2rem;
  padding-bottom: 4rem;
  padding-left: 0;
  padding-right: 0;
  color: white;
}

header.site-header .container {
  width: 90vw;
  margin: 0 auto;
  border: 1px solid red;
}

section.main {
  position: relative;
  top: -2rem;
}

section.main .container {
  width: 90vw;
  margin: 0 auto;
  border: 1px solid red;
  -webkit-box-shadow: 0 30px 50px rgba(1, 1, 1, 0.15);
          box-shadow: 0 30px 50px rgba(1, 1, 1, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
  background-color: white;
}

section.main .container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

section.main .content-area {
  padding: 1rem;
}

section.main .widget-area {
  padding: 1rem;
  background-color: lightgrey;
}

footer {
  margin-top: 4rem;
  padding-top: 1rem;
  padding-bottom: 4rem;
  position: relative;
  color: #B7B7B7;
  text-align: center;
}

@media screen and (max-width: 600px) {
  section.main .container {
    display: block;
    min-height: auto;
  }
}
/*# sourceMappingURL=style.css.map */