/*!
Theme Name: mytheme
Theme URI: http://underscores.me/
Author: John Doe
Author URI: http://yoursite.be/
Description: Description
Version: 1.0
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'mixins';

$brand-color: #C62641;
$black: #444;
$white: rgb(255, 255, 255);
$lightgrey: rgb(235, 235, 235);
$space: 1rem;


body{
    font-family: 'Domine', serif;
    background-color: $lightgrey;
}

header.site-header{
    background-color: $brand-color;
    padding-top: 2 * $space;
    padding-bottom: 4 * $space;
    padding-left: 0;
    padding-right: 0;
    color: $white;

    .container{
        @include container(90vw);
    }
}

section{
    &.main{
        position: relative;
        top: -2rem;

        .container{
            @include container(90vw);
            @include shadow;
            @include flex-grid(2);
            min-height: 80vh;
            background-color: white;
        }
        .content-area{
            padding: $space; 
        }
    
        .widget-area{
            padding: $space;
            background-color: lightgrey;
        }
    }
}

footer {
    margin-top: 4rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
    position: relative;
    color: #B7B7B7;
    text-align: center;
}

@media screen and (max-width: 600px){
    section.main{
        .container{
            display: block;
            min-height: auto;
        }
    }
}